*,
*::after,
*::before {
    margin            : 0;
    padding           : 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing   : border-box;
    -moz-box-sizing   : border-box;
    box-sizing        : border-box;
}

body,
html {
    width        : 100vw;
    /* min-height: 100vh; */
    height       : 100vh;
    background   : rgb(255, 165, 80);
    overflow-x   : hidden;
}

h1 {
    color: rgb(0, 47, 255);
}
