*,
*::after,
*::before {
    margin            : 0;
    padding           : 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing   : border-box;
    -moz-box-sizing   : border-box;
    box-sizing        : border-box;
}

body,
html {
    width     : 100vw;
    height    : 100vh;
    background: rgb(253, 241, 229);
    overflow-x: hidden;
}

h1 {
    color: rgb(91, 108, 185);
}

li {
    list-style: none;
    margin    : 0;
    padding   : 0;
}

button{
    background-color: rgb(218, 253, 241);
}

.hidden{
    display: none;
}
.modal_wrapper {
    visibility      : hidden;
    position        : absolute;
    left            : 0;
    width           : 100vw;
    height          : 100vh;
    background-color: rgba(128, 128, 128, 0.5);

    .close-event-btn {
        display: none;
    }

    &.active {
        visibility: visible;
        z-index   : 1;

        .close-event-btn {
            display: block;
        }
    }
}

.main-container {
    margin: 0 auto;
    width : 70%;
}

.main_top-container {
    display        : flex;
    justify-content: space-between;
    width          : 95%;
    max-width      : 46rem;
    margin         : 2rem auto;
}

.controls {
    display        : flex;
    justify-content: flex-end;
    align-items    : center;
    width          : 50%;
}

table {
    border-collapse: collapse;
    line-height    : 1.1;
    font-family    : "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color          : #0C213B;
    margin         : 0 auto;
    min-width      : 700px;
}

th {
    border          : 2px solid rgba(226, 221, 221, 0.911);
    background-color: whitesmoke;
    height          : 2rem;
}

td {
    width     : 9rem;
    border    : 2px solid rgba(226, 221, 221, 0.911);
    text-align: center;
    height    : 2rem;
}

td:first-child {
    width           : 99px;
    color           : rgb(45, 68, 68);
    background-color: whitesmoke;
}

.close-event-btn {
    display: none;

    &.modal_wrapper.active {
        display: block;
    }
}

.member {
    display        : flex;
    justify-content: space-between;
    padding        : 0.5rem;
}

.member:hover {
    background-color: lavender;
}

.add-event-btn {
    height       : 2rem;
    width        : 7rem;
    margin-left  : 2rem;
    border-radius: 5px;
    cursor       : pointer;
    outline      : none;
    transition   : transform 0.1s ease-in-out;

    &:hover {
        transform         : translateY(-8%);
        -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        -moz-box-shadow   : 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        box-shadow        : 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    }
}

#add-form {
    display        : flex;
    flex-direction : column;
    justify-content: space-between;
    align-items    : center;
    height         : 12rem;
    font-size      : 1.2rem;

}

.add_lable {
    display        : flex;
    justify-content: space-between;
    width          : 22rem;
}

.add_time,
.add_day,
.add_dropdown,
.add_form-name,
.filtered-by {
    width        : 12rem;
    height       : 2rem;
    border       : 0.5px solid black;
    border-radius: 5px;
    padding-left : 1rem;
    font-size    : 1rem;
}

.add_modal-footer {
    display        : flex;
    justify-content: flex-end;
    align-items    : center;
    width          : 90%;
    height         : 5rem;

    button {
        margin-left  : 2rem;
        width        : 7rem;
        height       : 2rem;
        border-radius: 5px;
        cursor       : pointer;
        transition   : transform 0.1s ease-in-out;

        &:hover {
            transform         : translateY(-10%);
            -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
            -moz-box-shadow   : 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
            box-shadow        : 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        }
    }
}

.add_modal-container {
    visibility      : hidden;
    position        : absolute;
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    justify-content : space-between;
    left            : calc((100vw - 35rem) / 2);
    top             : -35rem;
    background-color: wheat;
    border-radius   : 8px;
    transition      : all 0.5s ease 0s;
    width           : 35rem;
    height          : 25rem;
    margin          : 0 auto;
}

.add_modal-error {
    visibility      : hidden;
    width           : 100%;
    height          : 4rem;
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    color           : rgb(175, 0, 0);
    background-color: rgba(230, 67, 67, 0.363);
    padding         : 10px;
    font-size       : 20px;
    border-radius   : 8px 8px 0 0;


    &.booked {
        visibility: visible;
    }

    &::before {
        content         : '\2716';
        display         : flex;
        align-items     : center;
        justify-content : space-around;
        color           : white;
        background-color: red;
        border-radius   : 50%;
        width           : 2rem;
        height          : 2rem;
        padding-left    : 1px;
        padding-bottom  : 2px;
    }
}


#add_modal-error_btn {
    background-color: rgba(0, 0, 0, 0);
    cursor          : pointer;
    border          : none;
    padding         : 3px;
    color           : rgb(175, 0, 0);
    font-size       : 20px;
    transition      : all 0.2s ease-in-out;
}

#add_modal-error_btn::after {
    content: '\2716';
}

#add_modal-error_btn:hover {
    transform: scale(1.2) translateY(10%);
}

#add_select {
    position   : absolute;
    opacity    : 0;
    width      : 1px;
    height     : 1px;
    margin-left: 13rem;
    margin-top : 2rem;
    z-index    : -1;
}

.modal_wrapper.active .add_modal-container {
    visibility: visible;
    top       : calc((100vh - 25rem) / 2);
}

.add_dropdown {
    border      : none;
    width       : 12rem;
    padding-left: 0;
}

.add_dropdown-main {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    height         : 100%;
    z-index        : 2;

    span {
        font-size          : 1rem;
        display            : flex;
        align-items        : center;
        position           : absolute;
        overflow           : hidden;
        background         : none;
        padding-left       : 1rem;
        padding-right      : 1rem;
        height             : 32px;
        width              : 12rem;
        z-index            : 2;
        -moz-user-select   : none;
        -webkit-user-select: none;
        -ms-user-select    : none;
        user-select        : none;
    }
}

.add_dropdown-fake_select {
    border             : none;
    width              : 12rem;
    height             : 32px;
    border             : 0.5px solid black;
    border-radius      : 5px;
    z-index            : 1;
    -moz-user-select   : none;
    -webkit-user-select: none;
    -ms-user-select    : none;
    user-select        : none;
}

.add_dropdown-content {
    visibility      : hidden;
    position        : absolute;
    display         : flex;
    flex-direction  : column;
    width           : 12rem;
    background-color: white;
    border          : 0.5px solid black;

}

.add_dropdown.active .add_dropdown-content {
    visibility: visible;
}

.member-selected-to-add {
    visibility: hidden;
}

.add_dropdown.active .member-selected-to-add:checked::before {
    visibility : visible;
    content    : '\2713';
    font-weight: bold;
    color      : cornflowerblue;
}

.delete_modal-container {
    visibility      : hidden;
    position        : absolute;
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    justify-content : space-evenly;
    left            : calc((100vw - 21rem) / 2);
    top             : -35rem;
    background-color: wheat;
    border-radius   : 5px;
    transition      : all 0.5s ease 0s;
    width           : 21rem;
    height          : 11rem;
    font-size       : 1.5rem;
}

.modal_wrapper.active .delete_modal-container {
    visibility: visible;
    top       : calc((100vh - 11rem) / 2);
}

.delete_modal-footer {
    display        : flex;
    justify-content: space-evenly;
    width          : 90%;

    button {
        width        : 7rem;
        height       : 2rem;
        border-radius: 5px;
        cursor       : pointer;
        transition   : transform 0.1s ease-in-out;

        &:hover {
            transform         : translateY(-8%);
            -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
            -moz-box-shadow   : 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
            box-shadow        : 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        }
    }
}

.authorize_modal-container {
    visibility      : hidden;
    position        : absolute;
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    justify-content : space-evenly;
    left            : calc((100vw - 21rem) / 2);
    top             : -35rem;
    background-color: wheat;
    border-radius   : 5px;
    transition      : all 0.5s ease 0s;
    width           : 21rem;
    height          : 11rem;
    font-size       : 1.5rem;
}

.modal_wrapper.active .authorize_modal-container {
    visibility: visible;
    top       : calc((100vh - 11rem) / 2);
}

.authorize_modal-footer {
    display        : flex;
    justify-content: space-evenly;
    width          : 90%;

    button {
        width        : 7rem;
        height       : 2rem;
        border-radius: 5px;
        cursor       : pointer;
        transition   : transform 0.1s ease-in-out;

        &:hover {
            transform         : translateY(-8%);
            -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
            -moz-box-shadow   : 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
            box-shadow        : 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        }
    }
}

.calendar_cell {
    visibility      : hidden;
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    padding         : 2px 4px;
    background-color: aquamarine;
    height          : 100%;

    &.booked {
        visibility: visible;
    }
}

.calendar_cell_participants {
    visibility      : hidden;
    position        : absolute;
    display         : flex;
    flex-direction  : column;
    width           : 8rem;
    background-color: honeydew;
    border          : 2px solid rgb(189, 238, 170);
    border-radius   : 0 0 8px 8px;
    transition      : all 0.2s ease-in-out;

}

.calendar_cell_participant {
    height    : 1.8rem;
    padding   : 3px;
    border-top: 1px solid palegoldenrod;
}

.calendar_cell:hover~.calendar_cell_participants {
    visibility: visible;
}

td.selected>.calendar_cell~.calendar_cell_participants {
    display: none;
}

td.selected>.calendar_cell {
    opacity: 0.5;
}

.calendar_cell-del_btn {
    background-color: inherit;
    border          : none;
    padding         : 3px;
    cursor          : pointer;
    outline         : none;

    &:hover {
        color             : red;
        transform         : translateY(-8%) scale(1.2);
        -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        -moz-box-shadow   : 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        box-shadow        : 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    }
}

.calendar_cell-del_btn::after {
    content: '\2716';
}

@media (max-width: 960px) {
    .main-container {
        width: 95%;
    }
}

@media (max-width: 769px) {
    // .modal_wrapper.active .add_modal-container {
    //     top: calc((100vh - 34rem) / 2);
    // }

    .add_modal-container {
        left  : calc((100vw - 26rem) / 2);
        // top   : -35rem;
        width : 26rem;
        // height: 34rem;
    }

    table {
        min-width: 500px;
        font-size: 0.9rem;
    }

    th {
        font-size: 0.9rem;
    }
}

@media (max-width: 500px) {
    .main-container {
        overflow-x: scroll;
        font-size : 0.8rem;
    }

    .main_top-container {
        flex-direction : column;
        justify-content: space-between;
        align-items    : center;
        width          : 95%;
        height: 5rem;
        font-size: 1rem;
    }
    .controls {
        justify-content: space-evenly;
        width: 100%;
    }

    table {
        font-size: 0.8rem;
        min-width: max-content;
    }

    th {
        font-size: 0.75rem;
        padding  : 2px;
    }

    td {
        width: 5rem;

        &:first-child {
            width    : max-content;
            font-size: 0.6rem;
        }
    }
    .calendar_cell_participants {
        width: 5rem;
    }
    .calendar_cell_participant {
        padding: 6px;
    }
}

@media (max-width: 425px) {
    .delete_modal-container {
        left     : calc((100vw - 15rem) / 2);
        top      : -10rem;
        width    : 15rem;
        height   : 10rem;
        font-size: 1rem;
    }

    .modal_wrapper.active .delete_modal-container {
        top: calc((100vh - 10rem) / 2);
    }

    .delete_modal-footer button {
        width : 5rem;
        height: 2rem;
    }

    .modal_wrapper.active .add_modal-container {
        top: calc((100vh - 34rem) / 2);
    }

    .add_modal-container {
        left  : calc((100vw - 19rem) / 2);
        top   : -35rem;
        width : 19rem;
        height: 34rem;
    }

    #add-form {
        height   : 19rem;
        font-size: 1rem;
    }

    .add_lable {
        flex-direction : column;
        align-items    : center;
        justify-content: space-between;
        width          : 22rem;
        height         : 4rem;
    }

    .add_modal-error span {
        width: 73%;
    }

    .main-container {
        font-size: 0.5rem;
    }

    table {
        font-size: 0.5rem;
    }

    th {
        font-size: 0.5rem;
    }

}