*,
*::after,
*::before {
    margin            : 0;
    padding           : 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing   : border-box;
    -moz-box-sizing   : border-box;
    box-sizing        : border-box;
}

body,
html {
    width        : 100vw;
    /* min-height: 100vh; */
    height       : 100vh;
    background   : rgb(255, 165, 80);
    overflow-x   : hidden;
}

h1 {
    color: rgb(0, 47, 255);
}
.modal_wrapper{
    visibility: hidden;
    // display: none;
    position: absolute;
    left: 50vw;
    top: 0;
    width: 1px;
    height: 1px;
    // margin: 0 auto;
    background-color: greenyellow;
    transition: all 0.5s ease 0s;
    .close-event-btn{
        display: none;
    }
    &.active{
        visibility: visible;
        // display: block;
        left: 0;
        width: 100vw;
        height: 100vh;
        .close-event-btn{
                display: block;
        }
    }
}
.main_top-container{
    display: flex;
}
.controls{
    width: 50%;
}
table {
    border-collapse: collapse; 
    line-height: 1.1;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    // background:  radial-gradient(farthest-corner at 50% 50%, white, #DCECF8);
    color: #0C213B;
  }
  th{
      border: 2px solid gray;
      background-color: rgba(226, 221, 221, 0.911);
  }
  td{
      width: 8rem;
      border: 2px solid  rgba(226, 221, 221, 0.911);
      text-align: center;
      height: 2rem;
  }
  td:first-child{
      width: 99px;
      color:rgb(45, 68, 68);
  }

.close-event-btn{
    display: none;
    &.modal_wrapper.active{
        display: block;
    }
}